# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

coverage/
node_modules
dist
dist-ssr
*.local
npm-debug.log*
.nyc_output
/lib
/lib_test


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.dev
.env.debug
.env.prod 
.env.development
.env.production
.venv
__pycache__
/data

*.vsix